service vendor.graphics.allocator.intel /vendor/bin/hw/android.hardware.graphics.allocator-service.minigbm_intel
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
    disabled
